body {
     background-color: #D0D0D0;
     font-family: 'BioRhyme', serif;
 }

.github {
    object-fit: cover;
    width: 55px;
}

.linkedin {
    object-fit: cover;
    width: 40px;
    margin-top: 8px;
}

.portfolio {
     object-fit: cover;
    width: 40px;
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 50px;
}

.title  {   
   margin: auto;
	width: 8%;
   font-weight: bolder;
   font-size: 20px;
}

.social-links {
    display: flex;
   justify-content: center;
}



.nav-bar {
    margin:0px auto;
}

#audio-on-button {
  object-fit: cover;
  width: 40px;
  margin-top: 10px;
}






